// DARK MODE 
$Dark_El:hsl(209, 23%, 22%);
$Dark_bg:hsl(207, 26%, 17%);
$Dark_Text:hsl(0, 0%, 100%);
// LIGHT MODE
$Light_Text:hsl(200, 15%, 8%);
$Light_Input:hsl(0, 0%, 52%);
$Light_bg:hsl(0, 0%, 98%);